@tailwind base;
@tailwind components;
@tailwind utilities;


.main {
    background-image: url('https://images.unsplash.com/photo-1483478550801-ceba5fe50e8e?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHw1fHxkaWdpdGFsJTIwaW52b2ljaW5nfGVufDB8fHx8MTcxODU2NTQ1NHww&ixlib=rb-4.0.3&auto=format&fit=crop&w=1920');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
}
.logo{
    text-align: center;
}
.div-greeting {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 16px; 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.div-greeting:hover {
    transform: translateY(-5px); 
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3); 
}


.link-start a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0070f3;
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.link-start a:hover {
    background-color: #005bb5; 
    transform: translateY(-2px);
}

.link-start a:active {
    background-color: #003f7f; 
    transform: translateY(0); 
}


.user-portal{
    background-color: rgb(227, 227, 231);
}